body{
    background-image: url(/images/anime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
#myImage{
    padding-top: 300px;
    width: 300;
    height: 200;
    position:absolute;
    
}
#cloud1{
    padding-top: 300px;
    width: 300;
    height: 200;
    position:absolute;
    z-index: -1;
}
#cloud2{
    padding-top: 150px;
    padding-left: 700px;
    width: 300;
    height: 200;
    position:absolute;
    z-index: +1;
}
#cloud3{
    padding-top: 50px;
    padding-left: 0px;
    width: 150;
    height: 100;
    position:absolute;
    z-index: +1;
}
#cloud4{
    padding-top: 5px;
    padding-left: 0px;
    width: auto;
    height: auto;
    position:absolute;
    z-index: +2;
}
#cloud5{
    padding-top: 60px;
    padding-left: 500px;
    width: 150;
    height: 100;
    position:absolute;
    z-index: +1;
}
#cloud6{   /*cloud after some interval*/
    padding-top: 50px;
    padding-left: 0px;
    width: 150;
    height: 100;
    position:absolute;
    z-index: +1;
}
#cloud7{
    padding-top: 500px;
    width: 350px;
    height: auto;
    position:absolute;
    
}
